/* Start Side Nav Section */
#dropDownclick {
    display: none;
}
.sidenav {
height: 100%;
width: 0;
position: fixed;
z-index: 994;
top: 0;
right: 0;
background-color:rgb(211, 211, 211);
overflow-x: hidden;
transition: 0.5s;
padding-top: 60px;
}

.sidenav a {
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 25px;
color: #000000;
display: block;
transition: 0.3s;
font-family: sans-serif;
}

.sidenav a:hover {
color: #be2300;
}

.sidenav .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
margin-left: 50px;
}
/* End Side Nav Section */

/* Header Section */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    position: relative;
    z-index: 993;
    display: grid;
    grid-template-columns: 255px auto  1fr;
    grid-template-rows: 70px;
    position: sticky;
    width: 100%;
    top: 0px;
    background-color:#f0f0f0;
    height: 10vh;
    min-height: 70px;
}

li {
    list-style: none;
    overflow: hidden;
    float: right;
    margin: 10px auto;
}

a.head {
    color: #be2300;
    font-size: 120%;
    display: block;
    text-align: center;
    margin: 0px 10px 0px 10px;
    top: 10px;
    padding: 10px;
    text-decoration: none;
    font-family: sans-serif;
}

.main-hed {
    display: block;
}

.header-left{
    display: flex;
    align-items: center;
    margin-left: 10%;
}

.header-middle{
    display: flex;
    align-items: center;
}

.header-right{
    display: flex;
    align-items: center;
    margin-right: 10%;
}

.logo{
    width: 250px;
    height: 60px;
    margin: 5px 0px 5px 10px;
    display: block;
}

.fas.fa-bars {
    color: #ffffff;
    font-size: 45px;
}

.fas.fa-user-circle {
    color:#ffffff;
    font-size: 45px;
}

/* End Header Section */

/* Start Main Section */
body {
    font-family: sans-serif;
    background-color: rgb(211, 211, 211);
}

h1{
    font-size: 35px;
    font-family: sans-serif;
    margin-bottom: 10px;
} 

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    /* margin: 0 -16px; */
    flex-direction: column-reverse
}

.col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    width: 100%;
}

.col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
}

.col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
    width: 50vw;
    align-self: center;
}

.col-25,
.col-50,
.col-75 {
    padding: 0 16px;
}

.container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    margin: 10px;
}

.container-cart {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    margin: 10px;
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
}

input[type=text], input[type=email] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

label {
    margin-bottom: 10px;
    display: block;
}

.icon-container {
    margin-bottom: 20px;
    padding: 3.4px 0;
    font-size: 30px;
}

.btn {
    background-color: #d8382d;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
}

.btn:hover {
    background-color: #f44336;
}

a {
    color: #2196F3;
}

hr {
    border: 1px solid lightgrey;
}

span.price {
    float: right;
    color: grey;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
    width: fit-content;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #d8382d;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

/* End Main Section */

/* Start FOOTER Section */
.Footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    position: relative;
    width: 100%;
    bottom: 0px;
    align-items: center;
    background-color: #d32b2b;
    font-family: sans-serif;
    padding: 10px 5px;
}

#copyright {
    font-size: 80%;
    color: white;
}

.logof{
    width: 180px;
    height: 150px;
}

a.fr {
    color: white;
    font-size: 17px;
    text-decoration: none;
}

a#fricon.fr {
    font-size: 40px;
    color: white;
}

a#fricon2.fr {
    font-size: 40px;
    color: white;
}

a#fricon3.fr {
    font-size: 40px;
    color: white;
}

a.fm {
    text-decoration: none;
    margin: 5px 0px 5px 0px;
    display: block;
    color: white;
}

p.fl {
    display: block;
    margin: 10px 0px 0px 0px;
    color: white;
}
.fl1{
display:block;
}
.logopos{
    text-align: center;
}

.footer-right {
    text-align: center;
}

.footer-middle a{
    /* padding: 0 80px; */
    text-align: center;
}
/* End FOOTER Section */

/* Media Querries for mobile views */
@media screen and (max-width: 660px){
.header {
    grid-template-columns: 260px auto;
}
.header > div {
    display: none;
}
#dropDownclick {
    display: block;
    color: #be2300;
    float: right;
    margin-right: 10px;
    margin-top: 5px;
}
.placeholderimage {
    width: auto !important;
    height: 100vh;
    justify-self: center;
}
.main-hed li:not(:nth-child(0)){
    display:none;
}
#fl {
    display: none;
}
.Footer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}
.footer-middle{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.col-75 {
    width: 70vw;
}
}

@media screen and (max-width: 1165px){
    .paybox {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        padding: 100px 220px 40px;
        width: 100%;
        font-family: sans-serif;
        justify-content: center;
    }

    .payl {
        padding: 40px 20px;
    }

    .paym {
        padding: 40px 20px;
    }

    .payr {
        padding: 40px 20px;
    }

    .btnnext {
        width: auto;
    }

    .btnprevious {
        width: auto;
    }
}

@media screen and (max-width: 450px){
    .payl {
        padding: 40px 0;
    }

    .paym {
        padding: 40px 0;
    }

    .payr {
        padding: 40px 0;
    }

    .paybox {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        padding: 0;
        width: 100%;
        font-family: sans-serif;
        justify-content: center;
    }

    .payicons {
        margin-left: 10%;
        padding-top: 50px;
    }

}

@media (max-width: 800px) {
    .col-25 {
        margin-bottom: 20px;
    }
    .col-75 {
        width: 75vw;
    }
}

@media (max-width: 525px) {
    .btn-danger {
        font-size: 10px;
    }

    .container-cart{
        font-size: 12px;
    }

    .col-75 {
        width: 85vw;
    }

}

@media (max-width: 450px) {
    .col-75 {
        width: 90vw;
    }
}


@media (max-width: 400px) {
    .cart-item{
        width: 20%;
    }
    .cart-quantity-input{
        margin-right: 5px;
    }

    .col-75 {
        width: 100vw;
    }
}

@media (max-width: 350px) {
    .container-cart{
        font-size: 10px;
    }
}