/* Start Side Nav Section */
#dropDownclick {
    display: none;
}
.sidenav {
height: 100%;
width: 0;
position: fixed;
z-index: 994;
top: 0;
right: 0;
background-color:rgb(211, 211, 211);
overflow-x: hidden;
transition: 0.5s;
padding-top: 60px;
}

.sidenav a {
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 25px;
color: #000000;
display: block;
transition: 0.3s;
font-family: sans-serif;
}

.sidenav a:hover {
color: #be2300;
}

.sidenav .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
margin-left: 50px;
}
/* End Side Nav Section */

/* Header Section */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    position: relative;
    z-index: 993;
    display: grid;
    grid-template-columns: 255px auto  1fr;
    grid-template-rows: 70px;
    position: sticky;
    width: 100%;
    top: 0px;
    background-color:#f0f0f0;
    height: 10vh;
    min-height: 70px;
}

li {
    list-style: none;
    overflow: hidden;
    float: right;
    margin: 10px auto;
}

a.head {
    color: #be2300;
    font-size: 120%;
    display: block;
    text-align: center;
    margin: 0px 10px 0px 10px;
    top: 10px;
    padding: 10px;
    text-decoration: none;
    font-family: sans-serif;
}

.main-hed {
    display: block;
}

.header-left{
    display: flex;
    align-items: center;
    margin-left: 10%;
}

.header-middle{
    display: flex;
    align-items: center;
}

.header-right{
    display: flex;
    align-items: center;
    margin-right: 10%;
}

.logo{
    width: 250px;
    height: 60px;
    margin: 5px 0px 5px 10px;
    display: block;
}

.fas.fa-bars {
    color: #ffffff;
    font-size: 45px;
}

.fas.fa-user-circle {
    color:#ffffff;
    font-size: 45px;
}

/* End Header Section */

/* Start Main Section */
body {
    background-color: rgb(211, 211, 211);
}
/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

  /* Set a style for all buttons */
button {
    background-color: #d8382d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
}

button:hover {
    background-color: #f44336;
}
.container {
    padding: 16px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    margin: 5em 30%;
    background-color: #f2f2f2;
    font-family: sans-serif;
}

.message {
    text-align: center;
}

.CA {
    text-decoration: none;
    color:#585858;
    cursor: pointer;
}

b {
    font-size: 24px;
}

:root {
    --success-color: #2ecc71;
    --error-color: #e74c3c;
}

/* * {
    box-sizing: border-box;
} */

/* Full-width input fields */
.form-control input[type=text1],
.form-control input[type=password1] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
.form-control input[type=text1]:focus,
.form-control input[type=password1]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for all buttons */
.button1 {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.button1:hover {
    background-color: #f44336;
}

/* Add padding to container elements */
.container1 {
    padding: 15px;
    font-family: sans-serif;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 10%;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: #474e5d;
    padding: 50px 0;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 40%;
    /* Could be more or less, depending on screen size */
    border-radius: 15px;
}

/* Style the horizontal ruler */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 3%;
    top: 10%;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

h2 {
    text-align: center;
    margin: 0 0 20px;
}

.form {
    padding: 30px 40px;
}

.form-control {
    margin-bottom: 5px;
    padding-bottom: 5px;
    position: relative;
}

.form-control label {
    /* color: #777; */
    display: block;
    margin-bottom: 5px;
}

.form-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    background-color: rgb(226, 226, 226);
}

.form-control input:focus {
    outline: 0;
    border-color: #777;
}

.form-control.success input {
    border-color: var(--success-color);
}

.form-control.error input {
    border-color: var(--error-color);
}

.form-control small {
    color: var(--error-color);
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-control.error small {
    visibility: visible;
}

.form button {
    cursor: pointer;
    background-color: #d8382d;
    border: 2px solid #d8382d;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
}

/* End Main Section */

/* Start FOOTER Section */
.Footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    position: relative;
    width: 100%;
    bottom: 0px;
    align-items: center;
    background-color: #d32b2b;
    font-family: sans-serif;
    padding: 10px 5px;
}

#copyright {
    font-size: 80%;
    color: white;
}

.logof{
    width: 180px;
    height: 150px;
}

a.fr {
    color: white;
    font-size: 17px;
    text-decoration: none;
}

a#fricon.fr {
    font-size: 40px;
    color: white;
}

a#fricon2.fr {
    font-size: 40px;
    color: white;
}

a#fricon3.fr {
    font-size: 40px;
    color: white;
}

a.fm {
    text-decoration: none;
    margin: 5px 0px 5px 0px;
    display: block;
    color: white;
}

p.fl {
    display: block;
    margin: 10px 0px 0px 0px;
    color: white;
}
.fl1{
display:block;
}
.logopos{
    text-align: center;
}

.footer-right {
    text-align: center;
}

.footer-middle a{
    text-align: center;
}
/* End FOOTER Section */

/* Media Querries for mobile views */
@media screen and (max-width: 660px){
.header {
    grid-template-columns: 260px auto;
}
.header > div {
    display: none;
}
#dropDownclick {
    display: block;
    color: #be2300;
    float: right;
    margin-right: 10px;
    margin-top: 5px;
}
.placeholderimage {
    width: auto !important;
    height: 100vh;
    justify-self: center;
}
.main-hed li:not(:nth-child(0)){
    display:none;
}
#fl {
    display: none;
}
.Footer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}
.footer-middle{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}
}

@media screen and (max-width: 1290px){
    .btnlogin {
        font-size: 20px;
        font-family: sans-serif;
        border: none;
        background-color: #dbdbdb;
        cursor: pointer;
        outline: none;
        width: auto;
        text-align: center;
        border-radius: 8px;
        box-shadow: 0 4px #999;
        margin-top: 40px;
    }
}

@media screen and (max-width: 1150px){
    .login-box {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        font-family: sans-serif;
        margin: 0;
        justify-items: center;
    }

    .login-box-left {
        padding: 10px;
        border: 1px solid #474747;
        border-radius: 4px;
        background-color: #fafafa;
        justify-self: center;
        margin: 0;
        margin-bottom: 50px;
    }

    .login-box-right {
        padding: 10px;
        border: 1px solid #474747;
        border-radius: 4px;
        background-color: #fafafa;
        justify-self: center;
        margin: 0;
        margin-bottom: 50px;
        font-size: smaller;
    }

    /* input {
        font-size: 23px;
    } */
}

@media screen and (max-width: 920px){
    .FP{
    float: none;
    display: block;
    color: #585858;
    text-decoration: none;
    text-align: center;
    }

    .CA{
    display: block;
    color: #585858;
    text-decoration: none;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    }

}

@media screen and (max-width: 550px){
    b {
        font-size: 20px;
    }

    .container{
        margin: 5% 20%;
    }
}

@media screen and (max-width: 700px){
    .modal-content{
        width: 60%;
    }
}

@media screen and (max-width: 480px){
    .modal-content{
        width: 80%;
    }
}

@media screen and (max-width: 340px){
    .form-control input{
        font-size: 12px;
    }
}
