
/* Start Side Nav Section */
#dropDownclick {
    display: none;
}
.sidenav {
height: 100%;
width: 0;
position: fixed;
z-index: 994;
top: 0;
right: 0;
background-color:rgb(211, 211, 211);
overflow-x: hidden;
transition: 0.5s;
padding-top: 60px;
}

.sidenav a {
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 25px;
color: #000000;
display: block;
transition: 0.3s;
font-family: sans-serif;
}

.sidenav a:hover {
color: #be2300;
}

.sidenav .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
margin-left: 50px;
}
/* End Side Nav Section */

/* Header Section */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    position: relative;
    z-index: 993;
    display: grid;
    grid-template-columns: 255px auto  1fr;
    grid-template-rows: 70px;
    position: sticky;
    width: 100%;
    top: 0px;
    background-color:#f0f0f0;
    height: 10vh;
    min-height: 70px;
}

li {
    list-style: none;
    overflow: hidden;
    float: right;
    margin: 10px auto;
}

a.head {
    color: #be2300;
    font-size: 120%;
    display: block;
    text-align: center;
    margin: 0px 10px 0px 10px;
    top: 10px;
    padding: 10px;
    text-decoration: none;
    font-family: sans-serif;
}

.main-hed {
    display: block;
}

.header-left{
    display: flex;
    align-items: center;
    margin-left: 10%;
}

.header-middle{
    display: flex;
    align-items: center;
}

.header-right{
    display: flex;
    align-items: center;
    margin-right: 10%;
}

.logo{
    width: 250px;
    height: 60px;
    margin: 5px 0px 5px 10px;
    display: block;
}

.fas.fa-bars {
    color: #ffffff;
    font-size: 45px;
}

.fas.fa-user-circle {
    color:#ffffff;
    font-size: 45px;
}

/* End Header Section */

/* Main Section */

.Main {
    background-color: rgb(211, 211, 211);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-content: center;
    padding-bottom: 15px;
}

.page{
    display: grid;

}

.placeholderimagecontainer {
    display: block;

}

.main-image {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.placeholder-image-big {
    display: block;
    width: 100%;
    max-height: 100vh;
}

.placeholder-image-small {
    display: none;
}

.imagetxt {   
    min-width: 35%;
    height: 100%;
    display: block;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.63);
    z-index: 900;
}

.Main #btn { /* main button on main image (hides when mobile view needed) */
    display: inline-block;
    transition: all 0.5s;
    position: absolute;
    top: 80%;
    left: 20%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #ffffff00;
    color: #ffffff;
    font-size: 50px;
    font-weight: bold;
    font-family: sans-serif;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    outline: none;
}

.imagetxt h3 {  /* Tag line on main image */
    position: absolute;
    top: 50%;
    left: 5%;
    font-size: 35px;
    font-family: sans-serif;
    border: none;
    text-align: center;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    font-weight:bold;
}

#btn span {   /* Button functionality */
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    background-color: rgba(219, 219, 219, 0.534);
    border-radius: 10px;
    padding: 20px;
}

#btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 20px;
    right: -20px;
    transition: 0.5s;
}

#btn:hover span {
    padding-right: 25px;
    color: #be2300;
}

#btn:hover span:after {
    opacity: 1;
    right: 0;
    color: #be2300;
}

.button-hidden {  /* Hidding smaller button for mobile view */
    display: none;
}

.Main #btn-hide {  /* Button for mobile view */
    display: inline-block;
    transition: all 0.5s;
    position: relative;
    background-color: #ffffff00;
    color: #ffffff;
    font-size: 50px;
    font-weight: bold;
    font-family: sans-serif;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    outline: none;
}

#btn-hide span {  /* Hidden button for mobile view functionality */
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    background-color: rgba(41, 41, 41, 0.534);
    border-radius: 10px;
    padding: 20px;
}

#btn-hide span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 20px;
    right: -20px;
    transition: 0.5s;
}

#btn-hide:hover span {
    padding-right: 25px;
    color: #be2300;
}

#btn-hide:hover span:after {
    opacity: 1;
    right: 0;
    color: #be2300;
}

/* Slideshow container */
.slideshow-container {
    max-width: 550px;
    position: relative;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

  /* Hide the images by default */
.mySlides {
    display: grid;
}

  /* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

  /* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

  /* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(117, 117, 117, 0.8);
}

  /* Caption text */
.text {
    color: #000000;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

  /* Number text (1/3 etc) */  /* Took this out to look more cleaner */
/* .numbertext {
    color: #000000;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
} */

  /* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: -5px 5px;
    background-color: rgb(131, 131, 131);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #ffffff;
}

  /* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
/* End Main Section */


/* Start FOOTER Section */
.Footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    position: relative;
    width: 100%;
    bottom: 0px;
    align-items: center;
    background-color: #d32b2b;
    font-family: sans-serif;
    padding: 10px 5px;
}

#copyright {
    font-size: 80%;
    color: white;
}

.logof{
    width: 180px;
    height: 150px;
}

a.fr {
    color: white;
    font-size: 17px;
    text-decoration: none;
}

a#fricon.fr {
    font-size: 40px;
    color: white;
}

a#fricon2.fr {
    font-size: 40px;
    color: white;
}

a#fricon3.fr {
    font-size: 40px;
    color: white;
}

a.fm {
    text-decoration: none;
    margin: 5px 0px 5px 0px;
    display: block;
    color: white;
}

p.fl {
    display: block;
    margin: 10px 0px 0px 0px;
    color: white;
}
.fl1{
display:block;
}
.logopos{
    text-align: center;
}

.footer-right {
    text-align: center;
}

.footer-middle a{
    /* padding: 0 80px; */
    text-align: center;
}
/* End FOOTER Section */

/* Media Querries for responsiveness*/
@media screen and (max-width: 660px){
.header {
    grid-template-columns: 260px auto;
}
.header > div {
    display: none;
}
#dropDownclick {
    display: block;
    color: #be2300;
    float: right;
    margin-right: 10px;
    margin-top: 5px;
}
.placeholderimage {
    width: auto !important;
    height: 100vh;
    justify-self: center;
}
.main-hed li:not(:nth-child(0)){
    display:none;
}
#fl {
    display: none;
}
.Footer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}
.footer-middle{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}
}

@media screen and (max-width: 740px){
    .placeholder-image-small {
    display: block;
    width: 100%;
    border: none;
    background-size: contain;
}

.placeholder-image-big {
    display: none;
}
}

@media screen and (max-width: 1024px){
    .imagetxt h3 {
        position: absolute;
        top: 50%;
        left: 5%;
        font-size: 25px;
        font-family: sans-serif;
        border: none;
        text-align: center;
        color: rgb(255, 255, 255);
        border-radius: 10px;
        font-weight:bold;
    }

    #btn span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
        background-color: rgba(219, 219, 219, 0.534);
        border-radius: 10px;
        padding: 20px;
        font-size: 25px;
    }
}

@media screen and (max-width: 660px){
    .imagetxt h3 {
        display: none;
    }
    #copyright {
        float: none;
    }
}

@media screen and (max-width: 780px){
    #btn.button1 {
        display: none;
    }
    .button-hidden {
        display: block;
    }
    .Main #btn-hide {
        display: inline-block;
        transition: all 0.5s;
        position: relative;
        background-color: #ffffff00;
        color: #ffffff;
        font-size: 50px;
        font-weight: bold;
        font-family: sans-serif;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        text-align: center;
        outline: none;
    }
    
    .button-hidden {
        text-align: center;
        margin-top: 40px;
    }
    
    #btn-hide span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
        background-color: rgba(41, 41, 41, 0.534);
        border-radius: 10px;
        padding: 20px;
    }
    
    #btn-hide span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 20px;
        right: -20px;
        transition: 0.5s;
    }
    
    #btn-hide:hover span {
        padding-right: 25px;
        color: #be2300;
    }
    
    #btn-hide:hover span:after {
        opacity: 1;
        right: 0;
        color: #be2300;
    }
}