/* Start Side Nav Section */
#dropDownclick {
    display: none;
}
.sidenav {
height: 100%;
width: 0;
position: fixed;
z-index: 994;
top: 0;
right: 0;
background-color:rgb(211, 211, 211);
overflow-x: hidden;
transition: 0.5s;
padding-top: 60px;
}

.sidenav a {
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 25px;
color: #000000;
display: block;
transition: 0.3s;
}

.sidenav a:hover {
color: #be2300;
}

.sidenav .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
margin-left: 50px;
}
/* End Side Nav Section */

/* Header Section */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    position: relative;
    z-index: 993;
    display: grid;
    grid-template-columns: 255px auto  1fr;
    grid-template-rows: 70px;
    position: sticky;
    width: 100%;
    top: 0px;
    background-color:#f0f0f0;
    height: 10vh;
    min-height: 70px;
}

li {
    list-style: none;
    overflow: hidden;
    float: right;
    margin: 10px auto;
}

a.head {
    color: #be2300;
    font-size: 120%;
    display: block;
    text-align: center;
    margin: 0px 10px 0px 10px;
    top: 10px;
    padding: 10px;
    text-decoration: none;
    font-family: sans-serif;
}

.main-hed {
    display: block;
}

.header-left{
    display: flex;
    align-items: center;
    margin-left: 10%;
}

.header-middle{
    display: flex;
    align-items: center;
}

.header-right{
    display: flex;
    align-items: center;
    margin-right: 10%;
}

.logo{
    width: 250px;
    height: 60px;
    margin: 5px 0px 5px 10px;
    display: block;
}

.fas.fa-bars {
    color: #ffffff;
    font-size: 45px;
}

.fas.fa-user-circle {
    color:#ffffff;
    font-size: 45px;
}

/* End Header Section */



/* Start Main Section */
#ppage {
    color: black;
    text-align: center;
    background-color: rgb(211, 211, 211);
    padding-top: 50px;
    font-size: 40px;
    font-family: sans-serif;
}

.input {
    position: absolute;
}

.scene {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 450px 450px 450px;
    /* width: 1440px; */
    max-width: 100%;
    min-height: 100vh;
    margin: auto;
    padding: 40px 30px;
    background-color: rgb(211, 211, 211);
}

.card-wrap {
    display: block;
    width: 300px;
    max-width: 100%;
    height: 400px;
    margin: 0 auto;
    margin-bottom: 15px;
}

.card, .front, .back, .card-photo{
    width: 100%;
    height: 100%;
}

.card-face {
    position: absolute;
    backface-visibility: hidden;
}

.card {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s, box-shadow .4s;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
    border-radius: 10px;
}

.card-photo {
    object-fit: scale-down;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}

.card:hover {
    box-shadow: 0 1px 3px 0 rgba(177, 17, 17, 0.397), 0 4px 8px 3px rgba(97, 2, 2, 0.432);
}

.back {
    background-color: white;
    transform: rotateY( 180deg );
    text-align: center;
    color: rgb(95, 95, 95);
    border-radius: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.back p {
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.butnprice {
    margin-top: 90%;
}

.buttondiv {
    padding-top: 10px;
}

h5 {
    font-size: 20px;
    color: #be2300;
}

h1 {
    color: #be2300; 
}

.button {
    font-size: 16px;
    font-family: sans-serif;
    border: none;
    background-color:#e6e6e6;
    cursor:pointer;
    outline: none;
    padding: 15px 32px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px #999;
}

.button:hover {
    background-color: #f44336
}

.button:active {
    background-color: #d8382d;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.flipcard {
    opacity: 0;
}

input:checked + .card {
    transform: rotateY( 180deg );
}

/* @media screen and (min-width: 960px) {
    .scene {
        display: flex;
        justify-content: space-around;
    }
} */
/* End Main Section */



/* Start FOOTER Section */
.Footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    position: relative;
    width: 100%;
    bottom: 0px;
    align-items: center;
    background-color: #d32b2b;
    font-family: sans-serif;
    padding: 10px 5px;
}

#copyright {
    font-size: 80%;
    color: white;
}

.logof{
    width: 180px;
    height: 150px;
}

a.fr {
    color: white;
    font-size: 17px;
    text-decoration: none;
}

a#fricon.fr {
    font-size: 40px;
    color: white;
}


a.fm {
    text-decoration: none;
    margin: 5px 0px 5px 0px;
    display: block;
    color: white;
}

p.fl {
    display: block;
    margin: 10px 0px 0px 0px;
    color: white;
}
.fl1{
display:block;
}
.logopos{
    text-align: center;
}

.footer-right {
    text-align: center;
}

.footer-middle a{
    /* padding: 0 80px; */
    text-align: center;
}
/* End FOOTER Section */

/* Media Querries */
/* @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    } */

@media screen and (max-width: 660px){
.header {
    grid-template-columns: 260px auto;
}
.header > div {
    display: none;
}
#dropDownclick {
    display: block;
    color: #be2300;
    float: right;
    margin-right: 10px;
    margin-top: 5px;
}
.placeholderimage {
    width: auto !important;
    height: 100vh;
    justify-self: center;
}
.main-hed li:not(:nth-child(0)){
    display:none;
}
#fl {
    display: none;
}
.Footer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}
.footer-middle{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}
}